.App {
  text-align: center;
}

.flights{
  margin: 20px;
}
.flights-head{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flight-head-left{
  color:rgb(199, 225, 247);
  letter-spacing: 2px;
  text-shadow: 5px 5px 5px #8C94FF;
  font-size: 50px;
}
table{
  margin:auto;
}

table,th,td{
   padding: 20px;
   text-align: center;
   border: none;
}

tr:hover{
  transform: scaleX(1.1);
}
tr:nth-child(even){
  background-color: rgb(199, 225, 247);
}
tr:nth-child(odd){
  background-color:rgb(227, 238, 248);
}
.booking{
  margin:20px;
  height: 100%;
}
.booking-form{
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}
.booking-button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}